/* .input_container {
    display: block;
    text-align: center;
} */

/* #activity_input {
  width: 100%;
} */

/*#start_btn {
  background-color: #003BDE;
  border-color: #003BDE;
  color: white;
}*/

/* .current_activity_container {
  display: block;
  text-align: center;
} */

/* .hidden {
  display: none;
} */
